<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.734412433009-hua8gppg3t4cnj8gdvreor8g5d2a08kr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
                <string>fb717072799770048</string>
            </array>
        </dict>
        
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.BioFamily.Bio-Family.Bio</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>717072799770048</string>
	<key>FacebookClientToken</key>
	<string>bfed8768113093a7f933e74cb21cefa1</string>
	<key>FacebookDisplayName</key>
	<string>Bio Family</string>
	<key>GIDClientID</key>
	<string>734412433009-hua8gppg3t4cnj8gdvreor8g5d2a08kr.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
    <key>CFBundleLocalizations</key>
    <array>
        <string>es</string>
        <string>en</string>
    </array>
</dict>
</plist>
