<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bio Family.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>NotificationExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>521F85BE296FF8DB000461CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5232EB5A2956FDB400774FC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5248E3BB2970245400EB047A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5248E3D12970356F00EB047A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
